<div class="header"><h1>welcome admin</h1></div>
    
    <div class="details">
        <div class="container">
            <h2>Enter the details to Login</h2>
        <form>
            <label for="adminName">Name</label><br>
            <input type="text" name="adminName" placeholder="enter admin name"><br>
            <label for="adminPass">Password</label><br>
            <input type="text" name="adminPass" placeholder="enter password" > <br>
            <button type="submit">Login</button>
            <input name="chck" type="checkbox" >
            <label for="chck">Remember me</label><br>
            <div class="cancel-box" style="padding: 10px">
                <a href="#">forgot password</a>
            </div>
        </form>
        </div>        
    </div>
