<p>login works!</p>
<div >
    <div class="card">
      <h2 style="text-align: center">Login to a world of opportunities!</h2>
      <!--<form onsubmit="validate();">-->
      <form #loginForm="ngForm" (ngSubmit)="checkLogin()">
        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input  type="text"  placeholder="Enter Username"  name="uname"  required [(ngModel)]="userName"   /><br />
          <label for="psw"><b>Password</b></label>
          <input  type="password"  placeholder="Enter Password"  name="psw"  required [(ngModel)]="pass" /><br />
          <span id="mbError" style="color: red"></span>

          <button type="submit">Login</button>

          <input type="checkbox" name="remb" />
          <label for="remb">Remember me</label> 
        </div>
        <div class="container" style="background-color: #f1f1f1;">
          <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
        <!-- <div class="bottom">
             <label for="cancel"><b>Cancel</b></label> 
           
              <button type="reset" style="background-color: red; width: 25%;">cancel</button>
              <p style="float: right;padding-right: 20px;">forgot <a href="login.html">password</a></p>
        </div> -->
      </form>
    </div>
  </div>